html, body, div, span,
h1, p, a,
form, label,
section,
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align:
    baseline;
}
section
{
    display: block;
}
body
{
    line-height: 1;
}
body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: white;
}
.container {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}
.login {
    position: relative;
    margin: 100px auto 40px auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border: 2px solid #56433D;
}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: linear-gradient(to top,rgb(168,141,132), #56433D);
    border-radius: 4px;
}
.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #F9C941;
    text-align: center;
    background: #56433D;
    border-bottom: 1px solid #cfcfcf;
    background-image: -webkit-linear-gradient(top, whiteffd, #56433D);
    background-image: -moz-linear-gradient(top, whiteffd, #56433D);
    background-image: -o-linear-gradient(top, whiteffd, #56433D);
    background-image: linear-gradient(to bottom, whiteffd, #56433D);
    -webkit-box-shadow: 0 1px white;
    -moz-box-shadow: 0 1px white;
    -o-box-shadow: 0 1px white;
    box-shadow: 0 1px white;
}
.login p {
    margin: 20px 0 0;
}
.login p:first-child {
    margin-top: 0;
}
.login input[type=text], .login input[type=password], .login input[type=email] {
    width: 278px;
}
.login p.remember_me, .login p.remember_me_my_addition {
    float: left;
    line-height: 31px;
}
.login p.remember_me label, .login p.remember_me_my_addition {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
.login p.remember_me input,.login p.remember_me_my_addition input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}
.login p.submit {
    text-align: right;
}
.login_help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
}
.login_help a {
    text-decoration: none;
}
.login_help a:hover {
    text-decoration: underline;
}
input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 13px;
}

input[type=text], input[type=password],input[type=email] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color:#56433D;
    background: white;
    border: 1px solid;
    border-color: #56433D;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 3px rgba(146, 114, 103, 0.5);
    box-shadow: inset 0 1px 3px rgba(146, 114, 103, 0.5);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: #F9C941;
    outline-color: #56433D;
    outline-offset: 0;
}

input[type=submit] {
    padding: 0 130px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #F9C941;
    text-shadow: 0 1px #56433D;
    background: #56433D;
    border: 1px solid;
    border-color: #56433D;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #56433D);
    background-image: -moz-linear-gradient(top, #edf5f8, #56433D);
    background-image: -o-linear-gradient(top, #edf5f8, #56433D);
    background-image: linear-gradient(to bottom, #edf5f8, #56433D);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
    background: #56433D;
    border-color: #56433D #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.lt-ie9 input[type=text], .lt-ie9 input[type=password] , .lt-ie9 input[type=email]{
    line-height: 34px;
}