* {
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    height: 110px;
}

header p {
    color: #666666;
}
body {
    background: url('../img/bg.png') fixed;
}

.title_header {
    width: 100%;
    font-family: Sansation;
    margin: 0 0 30px;
}

.wrapper {
    width: 950px;
    height: 1200px;
    padding: 30px 125px;
    font-family: Verdana, sans-serif;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

header a, header a:hover, header a:link, header a:visited {
    color: #666666;
}

h1 {
    font-size: 30px;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
    margin-right: 13px;

}

.title_header p {
    font-size: 11px;
    display: inline-block;
}


nav li {
    display: inline-block;
    list-style-type: none;
    height: 26px;
    font-size: 12px;
    font-style: italic;
    margin: 0 15px;
}

nav a, nav a:visited, nav a:link, nav a:hover {
    color: #646363;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
    height: 12px;
    width: 140%;
    text-align: center;
    padding: 14px 0;
    position: relative;
}

nav a:hover, a.active{
    background: #fff;
    border-radius: 7px;
    color: #de004e !important;
}

.treug {
    display: none;
}

a.active .treug, a:hover .treug {
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    top: 40px;
    right: 20%;
}

.main_content a, .main_content a:hover, .main_content a:link, .main_content a:visited {
    color: #fff;
    text-decoration: none;
}

.main_content {
    width: 890px;
    height: 1005px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    margin: 10px 0;
    padding: 30px 30px 0 30px;
}

.first_line {
    width: 100%;
    height: 284px;
    margin: 0 0 20px 0;
}


.frap {
    width: 521px;
    height: 284px;
    position: relative;
    float: left;
}

figure img {
    width: 521px;
    height: 284px;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
}

figcaption {
    display: block;
    width: 491px;
    height: 57px;
    padding: 15px;
    background: url('../img/tr.png') no-repeat;
    position: absolute;
    z-index: 10;
    top: 197px;
    color: #fff;
    font-size: 11px;
}

figcaption a {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    border-radius: 15px;
    background: #de004e;
    height: 23px;
    width: 50px;
    text-align: center;
}

figcaption p {
    line-height: 24px;
}

figcaption span {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.upcoming_news {
    width: 335px;
    height: 284px;
    float: right;
}

.upcoming_news h2 {
    height: 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #7a7a7a;
    background: url('../img/news.png') no-repeat left;
    padding: 0 0 0 45px;
}

.upcoming_news>div {
    width: 100%;
    height: 54px;
    margin: 10px 0;
}

.upcoming_news img {
    border: 5px #dcdcdc solid;
    border-radius: 6px;
    float: left;
}

.upcoming_news p {
    font-size: 12px;
    color: #000;
}

.upcoming_news time {
    font-size: 10px;
    color: #de004e;
}

.upcoming_news>div>div {
    height: 42px;
    float: left;
    margin: 0 0 0 10px;
    padding: 6px 0;
    border-bottom: 1px #d7d7d7 dashed;
}

.upcoming_news .last {
    margin-bottom: 0;
    border-bottom: none !important;
}

.clearfix {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.second_line {
    width: 100%;
    height: 320px;
    border: 1px solid #ebebeb;
    border-right: none;
    border-left: none;
    margin: 0;
    font-size: 12px;
    color: #6e6e6e;
}

.second_line article {
    height: 280px;
    width: 269px;
    padding: 20px;
    float: left;
}

.second_line .one {
    width: 269px;
    padding-left: 0;
    border-right: 1px solid #ebebeb;
}

.second_line .three {
    padding-right: 0;
}

article .red_button {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    border-radius: 15px;
    background: #de004e;
    height: 23px;
    width: 50px;
    text-align: center;
    color: #fff;
    font-style: normal !important;
    font-size: 11px !important;
    line-height: 23px;
}

.second_line time {
    color: #747474;
    font-size: 11px;
    line-height: 23px;
}

.second_line h2 {
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    margin: 10px 0 0;
}

.second_line p {
    margin: 10px 0 7px;
}

.second_line .more_info_link {
    font-size: 10px;
    font-style: italic;
    color: #de004e !important;
}

.third_line {
    width: 100%;
    height: 400px;
    margin: 0;
}

.community {
    width: 269px;
    height: 340px;
    padding: 20px 20px 20px 0;
    border-right: 1px solid #e6e6e6;
    float: left;
}

.community h2 {
    height: 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #7a7a7a;
    background: url('../img/community.png') no-repeat left;
    padding: 0 0 0 45px;
}

.community div {
    margin: 12px 0;
    float: left;
}

.community img {
    float: left;
    margin: 0 10px 0 0;
}

.community time {
    display: block;
    font-size: 10px;
    color: #de004e;
    margin: 0 0 4px 0;
}

.community p {
    font-size: 12px;
    line-height: 1.3em;
    margin: 0 0 0 30px;
    color: #6e6e6e;
}

.community span {
    font-weight: bold;
}

.latest_photo {
    width: 540px;
    height: 340px;
    padding: 20px 0 20px 20px;
    float: left;
}

.latest_photo h2 {
    height: 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #7a7a7a;
    background: url('../img/photo.png') no-repeat left;
    padding: 0 0 0 45px;
}

.latest_photo div {
    width: 580px;
}

.latest_photo img {
    border: 3px solid #e3e3e3;
    border-radius: 6px;
    margin: 14px 14px;
}

.fifth_image {
    padding-left: 0;
}

.third_image {
    padding-right: 0;
}

footer p {
    font-size: 12px;
    color: #575656;
    margin: 30px 0 0 15px;
}

.frap:after, .second_line:after, .latest_news:after, .article:after, .community:after, .latest_photo:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}