<?xml version="1.0" encoding="UTF-8" ?>
<taglib version="2.1"  xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>fctg</short-name>
    <uri>customfooter</uri>
    <tag>
        <name>copyrightInfoTag</name>
        <tag-class>by.bsu.company.tag.custom.CopyrightInfoTag</tag-class>
        <body-content>empty</body-content>
    </tag>
</taglib>